/*CSS RESET*/

*{
	margin:0;
	padding:0;
}

.logo{
	margin-left: 30px;
}

.navbar{
	background-color: black;
}

.navbar a{
	color: #bf9b30;
	font-weight: bold;
}

.jumbotron {
    color: white;
    background-image: url(../images/twice-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
}

.jumbotron2{
	margin-top:50px;
	text-align:center;
	/*color: #C0AB7A;*/
	color: #bf9b30;
	text-shadow: 3px 1px #403314;
	font-family: 'Oswald', sans-serif;
}


.nav-link{
	font-family: 'Oswald', sans-serif;
}

.rowcontact{
	font-family: 'Oswald', sans-serif;
}

.feelspecial{
	float: right;
	font-size: 50px;
	color:#abaa6c;
	font-family: 'Sirin Stencil', cursive;
}

.feelspecial:hover{
	opacity: .5;

}

.car-img{
	height: 100%;
	width:100%;
	
}

.car-size{
	/*height: 500px;*/
	width:500px;
}

.background{
	background-image: url(../images/twice11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background-photos{
	background-image:linear-gradient(to right, black, #9E772D);
	/*height: 100vh;*/
}

.background-disc{
	background-image:linear-gradient(to right, black, #9E772D);
	/*height: 120vh;*/
}

.bg-profile{
	background-color: #EDC2B6;
	/*height: 100vh;*/
}

.space{
	padding-top: 50px;
}

.space2{
	padding-top: 90px;
}

.space3{
	padding-top: 150px;
}

.card-body{
	font-family: 'Oswald', sans-serif;
	background-color: black;
	color:#bf9b30;
}

#carousel1{
	padding-top: 75px;
}



.profile{
	font-family: 'Oswald', sans-serif;
}

.footertext{
	color:#bf9b30;
	background-color: black;
}

.footerclass{
	font-family: 'Oswald', sans-serif;
}



.photos{
	width:350px;
	margin: auto;    
    display: block;
    padding-bottom: 50px;
}

.card{
	border:none !important;
}

.navbar .navbar-toggler {
	color:#bf9b30 !important;

}

#x{
	font-family: 'Oswald', sans-serif !important;
}

.form-group, iframe{
	opacity: .8;
}

iframe:hover{
	opacity: 1;
}

.form-group:hover{
	opacity: 1;
}

#contactid {
	font-family: 'Oswald', sans-serif;
}

.img-btn{
	width:400px;
	height: 400px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container-disc{
	padding-top: 40px;
}

.row-disc{
	padding-bottom: 70px;
}

.des, iframe{
  text-align: center;
   left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   margin-top: 10rem;
}

.des {
   overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:400px;
    margin-top: 20px;
}

.body-contact{
	min-height: 1000px;
}